[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/jeon/project/todo-campus-django-backend/TodoCampusVenv/bin/uwsgi -i /home/jeon/project/todo-campus-django-backend/.config/uwsgi/TodoCampus.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target